.MuiStepConnector-line {
  display: none !important;
}

.MuiStepConnector-root {
  height: 1px;
  background-color: #E8E2DB;
}

.MuiStepConnector-active,
.MuiStepConnector-completed {
  background-color: #B8860B;
}
