input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container {
  max-width: 1200px;
}

.product-carousel img {
  max-height: 500px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .product-details h1 {
    font-size: 1.5rem;
  }

  .product-details h2 {
    font-size: 2rem;
  }

  .product-details button {
    font-size: 1rem;
  }
}

option {
  color: #1A1A1A;
  font-size: 16px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  background-color: #FAF8F5;
}
