input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 0%;
}
.page-item {
  list-style: none;
  background-color: white;
  border: 1px solid black;
  padding: 10px 25px;
  margin-bottom: 3rem;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}
.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  font: 300 1vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}
.page-item:hover {
  background-color: rgb(230, 230, 230);
}
.page-item:hover .page-link {
  color: rgb(80, 80, 80);
}
.pageItemActive {
  background-color: tomato;
}
.pageLinkActive {
  color: white;
}
@media screen and (max-width: 600px) {
  .pagination {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  .page-item {
    list-style: none;
    background-color: white;
    border: 1px solid black;
    padding: 5px 15px;
    margin-bottom: 3rem;
    cursor: pointer;
  }
  .page-item:first-child {
    border-radius: 5px 0 0 5px;
  }
  .page-item:last-child {
    border-radius: 0 5px 5px 0;
  }
  .page-link {
    text-decoration: none;
    font: 300 1vmax "Roboto";
    color: rgb(80, 80, 80);
    transition: all 0.3s;
  }
  .page-item:hover {
    background-color: rgb(230, 230, 230);
  }
  .page-item:hover .page-link {
    color: rgb(80, 80, 80);
  }
  .pageItemActive {
    background-color: tomato;
  }
  .pageLinkActive {
    color: white;
  }
}
.container {
  max-width: 1200px;
}

.product-carousel img {
  max-height: 500px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .product-details h1 {
    font-size: 1.5rem;
  }

  .product-details h2 {
    font-size: 2rem;
  }

  .product-details button {
    font-size: 1rem;
  }
}
option {
  color: white;
  font-size: 18px;
  padding: 20px;
  background-color: #235347;
}
